{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": "warn",
    "jsx-quotes": "off",
    "react-hooks/rules-of-hooks": "off"
  }
}
