.plan-card-component
  background-color #fff
  box-shadow: 0 32px 40px 0px #DAE0EA;
  border-radius: 16px;
  margin-top 26px
  padding 20px 40px
  .title-info
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px
    font-size 24px
    color #5E5E5E
  .conventionDate-box
    display flex
    justify-content space-between
    align-items center
    border-top 2px solid #CECFD0
    border-bottom 2px solid #CECFD0
    padding 14px 0
    font-size 32px
    color #000
  .user-info
    padding 25px 0
    border-bottom 2px solid #CECFD0
    .info-item
      display flex 
      justify-content space-between
      align-items flex-start
      margin-top 10px
      .left
        display flex
        align-items flex-start
        .left-icon
          margin-right 10px
          width 32px
          height 32px
          margin-top 4px
      .right-icon
        width 48px
        height 48px
  .hadle-box
    display flex
    justify-content flex-end
    align-items center
    margin-top 16px
    .atbtn
      height 56px
      align-items center
      margin 0
    .left-btn
      background-color #F0F1F1
      color #5e5e5e
    .right-btn
      background-color #17DA9C
      color #fff