.step-page
  background-color #F2F4F7
  height 100vh
  box-sizing border-box
  padding 80px
  .next-btn
    margin-top 80px
    width: 592px;
    height: 112px;
    background: #325CF4;
    border-radius: 59px;
    color #fff
    font-size 36px
    display flex
    align-items center