.vericode-page
  background-color #fff
  padding 48px
  .title
    .title-h
      font-size 48px
      font-weight bold
      color #262626
    .desc
      font-style 24px
      color #828698
  .phone-inp
    margin-top 90px
  .submit-btn
    margin-top 70px
    background-color #325CF4
    color #fff
  .getcode-btn
    color #325CF4
    font-size 24px