.scanresult-page
  background-color #F2F4F7
  height 100vh
  padding 40px
  .dev-info
    margin-top 24px
    background-color #fff
    padding 60px 40px
    border: 2rpx solid #D9D9D9;
    .top-user-info
      padding-bottom 46px
      border-bottom 2rpx solid #E4E4E4;
    .bottom-info
      margin-top 50px
    .info-item
      display flex
      align-items center
      .label
        width 112px
        color #828698
        font-size 28px
      .value
        color #000
        padding-left 30px
        font-size 36px
  .next-btn
    margin-top 80px
    width: 592px;
    height: 112px;
    background: #325CF4;
    border-radius: 59px;
    color #fff
    font-size 36px
    display flex
    align-items center